body {
    margin: 0;
    padding: 0;
    font-size: 0;
    background: #417FAF
}

.hover {
    transition: 0.5s;
    opacity: 0;
}

[state="false"] {
    fill: #214d70;
    opacity: 0.85;
}

#mainCircle {
    transition: 0.5s;
}

#mainCircle:hover {
    fill: #214d70;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 88vmin;
    height: 88vmin;
    margin: 0;
    padding: 0;
    font-size: 0;
    display: inline-block;
}

.sub-container {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.circle {
    position: absolute;
    top: var(--t);
    left: var(--l);
}

[circle="1"] {
    --t: 0;
    --l: 0
}

[circle="2"] {
    --t: 0;
    --l: 50%
}

[circle="3"] {
    --t: 50%;
    --l: 0
}

[circle="4"] {
    --t: 50%;
    --l: 50%
}

.center2[state="1"] {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center2[state="0"] {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-size: 4vmax;
    color: #417FAF;
    transition: 0.3s
}

body {
    font-family: 'Anton', sans-serif;
}