  body {
      margin: 0;
      font-family: 'Kanit', sans-serif;
      font-size: 25px;
      color: #417FAF;
      overflow-x: hidden;
  }
  
  .main-container {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      min-height: 300px;
  }
  
  .sub-container1 {
      margin: 0;
      width: 50%;
      display: inline-block;
      min-width: 300px;
      position: relative;
      left: 0;
      top: 0;
  }
  
  .sub-container1-sm {
      margin: 0;
      width: 45%;
      display: inline-block;
      min-width: 100px;
      position: relative;
      left: 0;
      top: 0;
  }
  
  .sub-container2 {
      width: 100%;
      display: inline-block;
      min-width: 300px;
      position: relative;
      margin: 0;
      padding: 3%
  }
  
  .item1 {
      width: 60%;
      position: relative;
      padding: 5%
  }
  
  .item2 {
      width: 65%;
      position: relative;
      padding: 5%
  }
  
  .item3 {
      width: 50%;
      position: relative;
      padding: 5%
  }
  
  .center {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
  }
  
  .centerX {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }

  .text {
      padding: 10%;
      margin: 0;
  }
  
  .text2 {
      padding: 5%;
      margin: 0;
      color: white;
  }
  
  h1.text {
      font-size: 6vmin;
      padding-bottom: 0;
  }
  
  p.text {
      padding-top: 0;
      font-size: 4vmin
  }
  
  h3.text2 {
      padding-bottom: 0;
      padding-top: 5%;
      font-size: 4vmin
  }
  
  p.text2 {
      padding-top: 0;
      padding-bottom: 30%;
      font-size: 2.5vmin
  }
  
  .bg {
      background: #417FAF;
  }
  .bg_y {
    background: #ECBE62;
}
  
  .s1 {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 10px solid #ECBE62;
      background-color: #fff;
      color: #417FAF;
      font-family: 'Kanit', sans-serif;
      width: 220px;
      height: 220px;
      font-size: 65px;
  }
  
  .b1 {
      border-radius: 25px;
      border: 2px solid #417FAF;
      background-color: #fff;
      color: #417FAF;
      font-family: 'Kanit', sans-serif;
      width: 170px;
      height: 50px;
      font-size: 20px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .b2 {
      border-radius: 25px;
      border: 2px solid #417FAF;
      background-color: #417FAF;
      color: #fff;
      font-family: 'Kanit', sans-serif;
      width: 250px;
      height: 50px;
      font-size: 20px;
      position: relative;
  }
  
 .b2_1 {
      border-radius: 25px;
      border: 2px solid #ECBE62;
      background-color: #ECBE62;
      color: #fff;
      font-family: 'Kanit', sans-serif;
      width: 250px;
      height: 50px;
      font-size: 20px;
      position: relative;
  }
  .b2_2 {
    border-radius: 50%;
    border: 15px solid #ECBE62;
    background-color: #fff;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    width: 250px;
    height: 250px;
    font-size: 20px;
    position: relative;
}
.b2_2:hover{
    border-radius: 50%;
    border: 15px solid #ECBE62;
    background-color:  #ECBE62;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    width: 250px;
    height: 250px;
    font-size: 20px;
    position: relative;
}
  
  .b3 {
      border-radius: 25px;
      border: 2px solid #417FAF;
      background-color: #fff;
      color: #417FAF;
      font-family: 'Kanit', sans-serif;
      width: 250px;
      height: 50px;
      font-size: 20px;
      position: relative;
      margin-top: -100px;
      margin-left: 100px;
  }
  
  #text_img_algorithm {
      text-align: center;
      margin: 50px;
      width: 50%;
  }
  
  #text_inpage1_algorithm {
      margin-bottom: 50px;
      padding-left: 50px;
      padding-right: 50px;
  }
  
  .table_0 {
      padding: 10%;
      padding-bottom: 5%;
  }
  
  .table_1 {
      text-align: center;
      padding: 10%;
      width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
  }
  
  th,
  td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  
  .table-pic {
    height:auto;
    width:150px;
    position: relative;
  }
  
  nav {
      background: #ECBE62;
      width: 90%;
      margin: auto;
  }
  
  .white {
      color: white;
  }
  
  .white:hover {
      color: white;
      text-decoration: none;
  }
  
  .in_bar {
      height: 5vh;
  }
  
  .nav-item:hover {
      background: #DBAC50
  }
  
  .nav-res {
      display: none;
      padding-left: 5%
  }
  
  label {
      display: inline;
  }
  
  .answer {
      background-color: transparent;
      border: 0px solid;
      height: 20px;
      width: 160px;
      color: #000;
      border-bottom: 1px solid black;
      display: inline;
      text-align: center
  }
  
  input:focus {
      outline: none;
  }
  
  .radio_btn {
      position: relative;
      transform: translate(-70%, 60%);
      width: 25px;
      height: 25px;
  }
  
  .result {
      border-radius: 25px;
      border: 2px solid #DBAC50;
      background-color: #ECBE62;
      color: #fff;
      font-family: 'Kanit', sans-serif;
      width: 100px;
      height: 30px;
      font-size: 20px;
      position: relative;
      font-size: 12px
  }
  
  form {
      text-align: center;
      margin-top: 10%;
  }
  
  .true_false {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
  }
  
  #txt_abs {
      color: #417FAF;
      text-align: center;
      padding-left: 20%;
      font-size: 25px;
  }
  
  .txt_color_while {
      color: #fff;
      text-align: center;
  }
  
  .txt_color_blue {
      color: #417FAF;
      text-align: center;
  }
  .txt_color_black {
    color: #646464;
    text-align: center;
}
  .img_logic_gate{
    width: 40%;
  }
  .img_logic_table{
      width: 35%;
  }
  .img_base_num{
    width: 80%;
  }
  #txt_hover1{
      display: none;
  }
  #pseudo_code1:hover #txt_hover1{
      display: inline;
  }
  #pseudo_code1:hover #img_hover1{
    display: none;
}
#txt_hover2{
    display: none;
}
#pseudo_code2:hover #txt_hover2{
    display: inline;
}
#pseudo_code2:hover #img_hover2{
  display: none;
}
#txt_hover3{
    display: none;
}
#pseudo_code3:hover #txt_hover3{
    display: inline;
}
#pseudo_code3:hover #img_hover3{
  display: none;
}
#txt_hover4{
    display: none;
}
#pseudo_code4:hover #txt_hover4{
    display: inline;
}
#pseudo_code4:hover #img_hover4{
  display: none;
}
#board_input{
    border: 5px solid #417FAF; 
    width: 80%; 
    height: 80%;
    margin-top:10%;
    border-radius: 25px;

}
#board_write_1{
    border: 5px solid #417FAF; 
    width: 80%; 
    height: 60%;
    margin-top:10%;
    border-radius: 25px;
}
#board_write_2{
    border: 5px solid #417FAF; 
    background: #417FAF;
    color: #fff;
    width: 80%; 
    height: 25%;
    margin-top:10%;
    border-radius: 15px;
    padding-bottom: 5%;
    padding-top: 5%;
}

  @media (max-width: 767px) {
      .nav-res {
          display: inline-block;
      }
      nav {
          width: 100%;
      }
      .nav-item {
          border-top: 1px solid #DBAC50;
      }
      h1.text {
          font-size: 4.5vmax
      }
      p.text {
          font-size: 2.5vmax
      }
      h3.text2 {
          font-size: 3vmax
      }
      p.text2 {
          font-size: 1.8vmax
      }
      .item1 {
          width: 80%;
          position: relative;
          padding: 5%
      }
      .item2 {
          width: 85%;
          position: relative;
          padding: 5%
      }
  }