body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    color: #417FAF;
    overflow-x: hidden;
}

.main-container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.sub-container1 {
    width: 50%;
    display: inline-block;
    min-width: 300px;
    position: relative;
    left: 0;
    top: 0;
}

.sub-container2 {
    width: 100%;
    display: inline-block;
    min-width: 300px;
    position: relative;
    margin: 2%
}

.item1 {
    width: 45%;
    position: relative;
    padding: 5%
}

.item2 {
    width: 65%;
    position: relative;
    padding: 5%
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.text {
    padding: 10%;
    margin: 0;
}

.text2 {
    padding: 5%;
    margin: 0;
    color: white;
}

h1.text {
    font-size: 6vmin;
    padding-bottom: 0;
}

p.text {
    padding-top: 0;
    font-size: 4vmin
}

h3.text2 {
    padding-bottom: 0;
    padding-top: 5%;
    font-size: 4vmin
}

p.text2 {
    padding-top: 0;
    padding-bottom: 30%;
    font-size: 2.5vmin
}

.bg {
    background: #417FAF;
}

.s1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid #417FAF;
    background-color: #fff;
    color: #417FAF;
    font-family: 'Kanit', sans-serif;
    width: 220px;
    height: 220px;
    font-size: 65px;
}

.b1 {
    border-radius: 25px;
    border: 2px solid #417FAF;
    background-color: #fff;
    color: #417FAF;
    font-family: 'Kanit', sans-serif;
    width: 150px;
    height: 50px;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background: #ECBE62;
    width: 90%;
    margin: auto;
}

.white {
    color: white;
}

.in_bar {
    height: 5vh;
}