html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    color: #417FAF;
    overflow-x: hidden;
}

nav {
    background: #ECBE62;
    width: 100%;
    /* height: 10vmin; */
    margin: auto;
}

.white {
    color: white;
    /* font-size: 2vmin; */
}

.white:hover {
    color: white;
    text-decoration: none;
}

.in_bar {
    height: 5vh;
}

.nav-item:hover {
    background: #DBAC50;
}

.nav-res {
    display: none;
    padding-left: 5%
}

/* .navbar-toggler {
    height: 5vh;
}

.navbar-toggler-icon {
    height: 2.5vh;
} */

label {
    display: inline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vmin;
    background-color: #417FAF;
    color: white;
    text-align: right;
 }

 .prog {
    width: 3vmin;
    height: 3vmin;
    /* border: 0.1px solid #000; */
    display: inline-block;
    border-radius: 50%;
    margin-left: 0.5vmin;
    margin-right: 0.5vmin;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background: white;
}

#progress {
    width: 100vmin;
    position: absolute;
    /* bottom: 10px; */
    top: 0.25vmin;
    right: 20vmin;
    padding: 1vmin;
    text-align: right;
}

.middle {
    margin-top: 7vmin;
    width: 80%;
    height:64%;
    /* background: black; */
    margin-left: 10%;
    text-align: center;
}

.ex_img{
    /* width: 30%; */
    height: 50%;
}

.ex_img_box{
    margin-bottom: 3vmin;
}

.ex_top{
    text-align: left;
    margin: 0;
    font-size: 20px;
    padding-left: 20%;
}

.choices{
    display: flex;
    /* height: 150px; */
    flex-wrap: wrap;
    text-align: left;
}

.choice {
    /* display: inline-block; */
    width: 60vmin;
    height: 8vmin;
    text-align: center;
    /* border: 1px solid black;
    border-radius: 5px; */
    cursor: pointer;
    padding: 5px;
    /* padding-left: 20px; */
    margin: 6px;
}
/* .choice:hover {
    border: 2px solid grey;
    font-weight: bold;
    background: lightseagreen !important;
    color: white !important;
    transition: 0.2s;
} */

.true_false {
    border: 2px solid #417FAF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    border-radius: 50px;
    z-index: 9999;
    background: #fff;
    display: none;
}
.btn_in_let {
    border-radius: 25px;
    border: 2px solid #417FAF;
    background-color: #417FAF;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    width: 200px;
    height: 50px;
    font-size: 18px;
    position: relative;
}

.btn_false {
    position: absolute;
    top: 3%;
    left: 95%;
    transform: translate(-50%, -50%);
}
.centerX {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}